<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="logo.png" width="100" alt="ico">            
        </div>

        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul>
        </nav>
    </header>

    <section class="main">
        <section class="articles">
            <article>
                
             <h2>este es el titulo de mi sitio web</h2>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatem assumenda voluptatibus necessitatibus neque eum veritatis impedit libero tempore quas.</p>
            </article>

            <article>
                <h2>este es el titulo de mi sitio web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatem assumenda voluptatibus necessitatibus neque eum veritatis impedit libero tempore quas.</p>
               </article>
        </section>

        <aside>
            <h3>este es mi sidebar</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatibus?</p>
        </aside>
    </section>


    <footer>
        <p>Dulce CE</p>
    </footer>
</body>
</html>
