/* div{
    width: 300px;
    background: orangered;
    height: 300px;
    margin: 20px 50px;
    padding: 60px 1px;
    border: 10px solid;
    display: inline-block;
} */
/* 
body{
    background:url(../imagenes/1.png);
    background-attachment: scroll;
    
    
} */

div{
    background:url(../imagenes/1.png);
    background-attachment: scroll;
    /* background-size: cover; */
    /* width: 300px; */
    color: white;
}