body{
    font-family: Arial, Helvetica, sans-serif;
}



/* ESTILOS GENERALES */
nav ul {
    list-style:none;
    padding: 0;
    
}

nav a{
    color:#ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .4s;
}

nav a:hover{
    background:rgba(0, 0, 0, 0.5);
}

nav li {
    line-height: 3rem;
    position: relative;
}

nav li ul{
    position: absolute;
}

/* 
nav li ul {
    display: none;
}

nav li:hover > ul {
    display: block;
} */

/* PRIMER NIVEL */

nav > ul {
    background: #333;
    /* overflow: hidden; */
    display: table;
    width: 100%;
}

nav > ul > li {
    float:left;

}




/* SEGUNDO NIVEL */

nav li li {
    background: #222;
    width: 200px;
    max-height: 0;
    overflow: hidden;

}


nav li:hover > ul > li{
    max-height: 500px;
    overflow: visible;

}

nav > ul > li > ul{
    top: 100%;
}


/* TERCER NIVEL  */

nav ul ul ul {
    left: 100%;
    top:0;
}